@page
@model StoreManagement.Pages.Invoice.AddInvoiceModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Thêm hóa đơn nhập hàng</h2>
            <hr />
        </div>
        <div>
            <input hidden asp-for="ID" />
        </div>
        <div class="mb-3">
            <label class="form-label mx-3" for="Name" style="width:180px;">Ngày giờ tạo (tự động): </label>
            <input disabled class="" type="text" name="str_CreationDateTime" style="width:210px;" value="@Model.str_CreationDateTime">
        </div>

        <div class="mb-3">
            <table class="table table-bordered table-striped" width="100%">
                <tr>
                    <th>Mã mặt hàng</th>
                    <th>Tên mặt hàng</th>
                    <th>Loại hàng</th>
                    <th>Giá</th>
                    <th>Hạn sử dụng</th>
                    <th>Ngày sản xuất</th>
                    <th>Công ty sản xuất</th>
                    <th>Số lượng</th>
                </tr>

                @foreach (var pr in Model.ProductRecords)
                {
                    <tr>
                        <td>@pr.ID</td>
                        <td>@pr.Product.Name</td>
                        <td>@pr.Product.Category.Name</td>
                        <td>@pr.Product.Price</td>
                        <td>@pr.Product.ExpiryDate.ToShortDateString()</td>
                        <td>@pr.Product.ManufacturingDate.ToShortDateString()</td>
                        <td>@pr.Product.Manufacturer</td>
                        <td>@pr.ProductCount</td>
                        <td style="width:140px;">
                            <a asp-page="EditProduct" asp-route-id="@pr.ID" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="DeleteProduct" asp-route-id="@pr.ID" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <a asp-page="../ProductRecords/AddProductRecord" asp-route-type="Invoice" asp-route-id="@Model.ID"  class="btn btn-primary"><i class="bi bi-plus-square"></i> Thêm mặt hàng mới</a>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary" style="width:150px;">Thêm</button>
        <a asp-page="Index" class="btn btn-secondary">Trở về danh sách loại hàng</a>
    </div>
</form>
