@page
@model StoreManagement.Pages.Products.ProductsModel

<div class="border p-3 mt-4">
    <div class="pt-2 pb-4">
        <h2 class="text-primary">Mặt Hàng</h2>
        <hr/>
    </div>
    <div class="submit-form pt-2 pb-4 border">
        <form method="post">
            <div class="container">
                <div class="row">
                    <div class="form-element col-sm-3 m-2">
                        <label for="Name" style="width:80px;">Tên: </label>
                        <input class="mw-50" type="text" name="Name" style="width:150px;">
                    </div>
                    <div class="form-element col-sm-3 m-2">
                        <label for="Category" style="width:110px;">Loại Hàng: </label>
                        <select name="Category" class="mw-50" style="width:150px;">
                            @foreach (var c in Model.Categories)
                            {
                                <option value="@c.ID">@c.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-element col-sm-4 m-2">
                        <label class="form-label" for="Manufacturer" style="width:125px;">Công ty sản xuất: </label>
                        <input class="w-50" type="text" name="Manufacturer">
                    </div>
                </div>
                <div class="row">
                    
                    <div class="form-element col-sm-3 m-2">
                        <label class="form-label" for="ExpiryDate" style="width:80px;">Hạn Dùng: </label>
                        <input class="w-50" type="date" name="ExpiryDate" style="width:150px;">
                    </div>
                    <div class="form-element col-sm-3 m-2">
                        <label class="form-label" for="ManufacturingDate" style="width:110px;">Ngày sản xuất: </label>
                        <input class="" type="date" name="ManufacturingDate" style="width:150px;">
                    </div>
                    <div class="form-element col-sm-4 m-2">
                        <label class="form-label" for="Price" style="width:125px;">Giá: </label>
                        <input class="w-25" type="text" name="minPrice"> -
                        <input class="w-25" type="text" name="maxPrice">
                    </div>
                </div>            
            </div>
            <div class="row">
                <div class="col-sm-10 d-flex flex-row-reverse">
                    <button class="btn btn-primary mx-4" type="submit"><i class="bi bi-search"></i> Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
    <div class="pt-2 pb-4">
        <table class="table table-bordered table-striped" width="100%">
            <tr>
                <th>Mã mặt hàng</th>
                <th>Tên mặt hàng</th>
                <th>Loại hàng</th>
                <th>Giá</th>
                <th>Hạn dùng</th>
                <th>Ngày sản xuất</th>
                <th>Công ty sản xuất</th>
            </tr>

            @foreach (var p in Model.Products)
            {
                <tr>
                    <td>@p.ID</td>
                    <td>@p.Name</td>
                    <td>@p.Category</td>
                    <td>@p.Price</td>
                    <td>@p.ExpiryDate</td>
                    <td>@p.ManufacturingDate</td>
                    <td>@p.Manufacturer</td>
                    <td>
                        <a asp-page="EditProduct" asp-route-id="@p.ID" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-page="DeleteProduct" asp-route-id="@p.ID" class="btn btn-danger mx-2">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        <a asp-page="AddProduct" class="btn btn-primary"><i class="bi bi-plus-square"></i> Thêm mặt hàng mới</a>
    </div>
</div>